<form [formGroup]="itemForm">
    <h3>Infos</h3>
    <div id="item-info">
        <label for="serviceName">Service name:</label>
        <input type="text" id="serviceName" formControlName="serviceName">
        <label for="description">Description:</label>
        <textarea name="" id="description" cols="60" rows="5"
            formControlName="description">{{itemForm.controls['description'].value}}</textarea>
    </div>
    <hr>

    <div formArrayName="credentials">
        <h3>Credentials</h3>
        <div *ngFor="let credential of credentials.controls; let last = last">
           <app-form-key-value (addClicked)="addCredential()" [showAdd]="last" [item]="credential"></app-form-key-value> 
        </div>
    </div>
    <hr>

    <div formArrayName="secrets">
        <h3>Secrets</h3>
        <div class="secret-item" *ngFor="let secret of secrets.controls; let last = last">
            <app-form-key-value (addClicked)="addSecret()" [showAdd]="last" [item]="secret"></app-form-key-value> 
        </div>
    </div>

    <div class="secret-suggestion">
        <app-password-generator (passwordGenerated)="onPasswordGenerated($event)"></app-password-generator>
        {{suggested_secret}}
    </div>
    
    <hr>
    <button (click)="updateWallet()" [disabled]="!itemForm.dirty">Save</button>
    <button routerLink="/wallet" [disabled]="itemForm.dirty">Exit</button>
</form>