<div class="container">
    <div id="block-logo-item">
        <img src="https://img.icons8.com/fluent/96/000000/lock-2.png" />
    </div>
    <p id="infoMessage" *ngIf="infoMessage">{{infoMessage}}</p>
    <form id="unblock-password-item" name="newCredentialsForm" [formGroup]="newCredentialsForm">
        <input type="password" name="oldPassword" id="oldPassword" class="form-control" placeholder="Enter old password" formControlName="oldPassword" >
        <input type="password" class="form-control" id="password" name="signUpPassword" placeholder="Enter new master password"
            formControlName="password"
            (keyup)="updatePasswordStrength()">
        <input type="password" class="form-control" id="rip-password" name="signUpRepeatPassword"
            placeholder="Repeat new master password" formControlName="passwordConfirm">
        <div *ngIf="newCredentialsForm.get('passwordConfirm')?.touched && newCredentialsForm.get('passwordConfirm')?.invalid" id="repeat-error">
            Passwords don't match
        </div>
        <button type="submit" (click)="updateMasterPassword()">Update master password</button>
        <div id="password_rate">
            <p>Password rate: {{passwordRate}} / 10</p>
        </div>
        <div id="server-error" *ngIf="serverError">
            <b>{{serverError}}</b>
        </div>
    </form>
    <p id="icons-copyright">All icons provided by <a href="https://icons8.it/" id="icons-link">Icons8</a></p>
</div>